{% extends "base.html" %}
{% from 'subprodmacro.html' import subproduct %}
{% block content %}
    {{ subproduct("DocuBot", "Unlock productivity and streamline your workflow with an interactive Documentation", 
    "24/7 support", "Say goodbye to the frustration of manual searches and hello to direct answers in real-time. Improve efficiency and reduce the load on your support team.",
    "Quick Plausability checks", "Our AI-powered chatbot provides instant access to documentation and can verify the plausibility of use cases, saving you time and effort.",
    "Increase Productivity", "Our AI-powered chatbot streamlines documentation, providing direct answers to questions and saving time for customers and employees.",
    "A Documentation that lives", "Our AI-powered chatbot actively identifies missing segments, possible conflicts, and unclear areas, ensuring that your documentation is always up-to-date and accurate.",
    "A documentation that lives", "Revolutionize your documentation with DocuBot - the AI-powered chatbot that streamlines the way you work. From quick plausibility checks to living documentation, DocuBot simplifies your workflow and improves your efficiency.DocuBot is an AI-powered chatbot that revolutionizes the way businesses approach documentation. It provides 24/7 access to interactive documentation, verifies the plausibility of use cases, proposes missing segments, and identifies areas that may be unclear. With DocuBot, businesses can improve their documentation efficiency and accuracy, simplify their workflow, and save time and effort for their employees. It is perfect for developers seeking technical information, team leads looking for documentation on a specific project, and anyone who needs quick access to accurate and up-to-date documentation. "
    ) }}
    {% include "pricing.html" %}
{% endblock %}