  <header class="wrapper bg-soft-primary">
    <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
      <div class="container flex-lg-row flex-nowrap align-items-center">
        <div class="navbar-brand w-100">
          <a href="./index.html">
            <img src="/assets/img/animated_logo_yellow.gif" style="width:100px" alt="firmenai logo" />
          </a>
        </div>
        <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
          <div class="offcanvas-header d-lg-none">
            <h3 class="text-white fs-30 mb-0">FirmenAI.de</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link " href="/de/" >Home</a>
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">AI Tools</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="dropdown-item" href="/de/docubot.html">DocuBot - Interaktive Dokumentation</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/briefmeet.html">BriefMeet - KI Meeting Zusammenfassung</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/brainsync.html">BrainSync - KI Notiz Assistent</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/hashtaghero.html">HashtagHero - KI Social Media</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/basetext.html">BaseText - Deutschland-gehosteter Text-Generator</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/baseimage.html">BaseImage - Deutschland-gehosteter Bild-Generator</a></li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/de/prices.html" >Preise</a>
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/de/contact.html" >Kontakt</a>
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Firma</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="dropdown-item" href="/de/imprint.html">Impressum</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/terms.html">AGB</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="/de/privacy-policy.html">Privatsphäreeinstellungen</a></li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="https://app.firmenai.de/welcome" >Registrieren</a>
                <!--/.dropdown-menu -->
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="https://app.firmenai.de/welcome-back" >Login</a>
                <!--/.dropdown-menu -->
              </li>
              
            </ul>
            <!-- /.navbar-nav -->
            <div class="offcanvas-footer d-lg-none">
              <div>
                <a href="mailto:info@datafortress.cloud" class="link-inverse">info@datafortress.cloud</a>
                <br /> +1 650 382 0775 <br />
                <nav class="nav social social-white mt-4">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                  <a href="#"><i class="uil uil-instagram"></i></a>
                  <a href="#"><i class="uil uil-youtube"></i></a>
                </nav>
                <!-- /.social -->
              </div>
            </div>
            <!-- /.offcanvas-footer -->
          </div>
          <!-- /.offcanvas-body -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="navbar-other w-100 d-flex ms-auto">
          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item dropdown language-select text-uppercase">
              <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">En</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="/">De</a></li>
                <li class="nav-item"><a class="dropdown-item" href="https://business-ai-tools.com">En</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i class="uil uil-info-circle"></i></a></li>
            <li class="nav-item d-lg-none">
              <button class="hamburger offcanvas-nav-btn"><span></span></button>
            </li>
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-other -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->
    <div class="offcanvas offcanvas-end text-inverse" id="offcanvas-info" data-bs-scroll="true">
      <div class="offcanvas-header">
        <h3 class="text-white fs-30 mb-0">FirmenAI.de</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body pb-6">
        <div class="widget mb-8">
          <p>FirmenAI.de integrates AI safely into your business to increase efficiency and productivity</p>
        </div>
        <!-- /.widget -->
        <div class="widget mb-8">
          <h4 class="widget-title text-white mb-3">Contact Info</h4>
          <address> FirmenAI.de by DataFortress.cloud <br /> Augsburg, Germany </address>
          <a href="mailto:info@datafortress.cloud">info@datafortress.cloud</a><br /> +1 650 382 0775 <br/> +491601136770
        </div>
        <!-- /.widget -->
        <div class="widget mb-8">
          <h4 class="widget-title text-white mb-3">Learn More</h4>
          <ul class="list-unstyled">
            <li><a href="#">Our Story</a></li>
            <li><a href="/de/terms.html">Terms of Use</a></li>
            <li><a href="/de/privacy-policy.html">Privacy Policy</a></li>
            <li><a href="/de/contact.html">Contact Us</a></li>
          </ul>
        </div>
        <!-- /.widget -->
        <!-- <div class="widget">
          <h4 class="widget-title text-white mb-3">Follow Us</h4>
          <nav class="nav social social-white">
            <a href="#"><i class="uil uil-twitter"></i></a>
            <a href="#"><i class="uil uil-facebook-f"></i></a>
            <a href="#"><i class="uil uil-dribbble"></i></a>
            <a href="#"><i class="uil uil-instagram"></i></a>
            <a href="#"><i class="uil uil-youtube"></i></a>
          </nav>
        </div> -->
        <!-- /.widget -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.offcanvas -->
  </header>