{% extends "base.html" %}
{% block content %}
    <section class="wrapper bg-gradient-primary">
      <div class="container pt-10 pt-md-14 pb-8 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="/assets/img/illustrations/i2.png" srcset="/assets/img/illustrations/i2@2x.png 2x" alt="" /></figure>
          </div>
          <!-- /column -->
          <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
            <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">FirmenAI verbindet Sie mit der Zukunft der AI-Produktivität</h1>
            <p class="lead fs-lg mb-7">Wir sind davon überzeugt, dass es keine Grenzen gibt, wenn man den richtigen Leuten die besten Werkzeuge an die Hand gibt. Deshalb haben wir FirmenAI so weiterentwickelt, dass wir eine einzigartige Reihe von Lösungen anbieten können, die mit Ihrem Unternehmen wachsen</p>
            <span><a href="https://app.firmenai.de/welcome" class="btn btn-primary rounded-pill me-2">Gratis testen</a></span>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pt-14 pt-md-16">
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h3 class="display-4 mb-10 px-xl-10">Tools, denen Sie vertrauen können</h3>
            <h2 class="fs-16 text-uppercase text-muted mb-3">Mit unserem auf Sicherheit ausgerichteten Ansatz in Bezug auf Datenschutz, Datenmanagement und Sicherheit haben wir ein leistungsstarkes neues KI-gestütztes Toolkit entwickelt, das Sie nie im Stich lassen wird.</h2>
            
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="position-relative">
          <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
          <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
          <div class="row gx-md-5 gy-5 text-center">
            <div class="col-md-6 col-xl-3">
              <div class="card shadow-lg">
                <div class="card-body">
                  <img src="/assets/img/icons/lineal/search-2.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                  <h4>DocuBot</h4>
                  <p class="mb-2">Nutzen Sie die Möglichkeiten der interaktiven KI-Dokumentation, um Marketingkampagnen auf die Unternehmenswerte abzustimmen, die abteilungsübergreifende Kommunikation zu erleichtern und vieles mehr.</p>
                  <a href="/docubot.html" class="more hover link-yellow">Mehr erfahren</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card shadow-lg">
                <div class="card-body">
                  <img src="/assets/img/icons/lineal/browser.svg" class="svg-inject icon-svg icon-svg-md text-red mb-3" alt="" />
                  <h4>BrainSync</h4>
                  <p class="mb-2">Verwandeln Sie grobe Arbeitsnotizen mit geringem Aufwand in leicht lesbare Langfassungen und prägnante Zusammenfassungen. Ideal, wenn Sie Ihren Output verbessern wollen.</p>
                  <a href="/brainsync.html" class="more hover link-red">Mehr erfahren</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card shadow-lg">
                <div class="card-body">
                  <img src="/assets/img/icons/lineal/chat-2.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
                  <h4>BriefMeet</h4>
                  <p class="mb-2">Verwandeln Sie Besprechungsprotokolle mühelos in Zusammenfassungen für Führungskräfte und umsetzbare To-Dos. Perfekt, wenn es darum geht, eine Dynamik aufzubauen und aufrechtzuerhalten.</p>
                  <a href="/briefmeet.html" class="more hover link-green">Mehr erfahren</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-xl-3">
              <div class="card shadow-lg">
                <div class="card-body">
                  <img src="/assets/img/icons/lineal/megaphone.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
                  <h4>HashtagHero</h4>
                  <p class="mb-2">Entdecken Sie eine völlig neue Welt der Social Media-Inhalte mit einem sofortigen Brainstorming-Tool, mit dem Sie Inhalte erstellen können, die Ihre Follower lieben.</p>
                  <a href="/hashtaghero.html" class="more hover link-blue">Mehr erfahren</a>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.position-relative -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-reverse-primary">
      <div class="container py-16 py-md-18">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-8 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="/assets/img/illustrations/i3.png" srcset="/assets/img/illustrations/i3@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Jetzt analysieren</h2>
            <h3 class="display-4 mb-5">Fragen Sie sich, wie KI Ihr Unternehmen unterstützen kann?</h3>
            <p class="mb-7">Fügen Sie den Link zu Ihrer Website ein, und wir werden uns mit Ihnen in Verbindung setzen, um Ihnen ein kostenloses Angebot zu unterbreiten, wie unsere Tools zur Steigerung der Effizienz und der Einnahmen Ihres Unternehmens eingesetzt werden können.</p>
            <div class="row">
              <div class="col-lg-9">
                <form action="#">
                  <div class="form-floating input-group">
                    <input type="url" class="form-control" placeholder="Enter Website URL" id="seo-check">
                    <label for="seo-check">Website-URL oder E-Mail eingeben</label>
                    <button class="btn btn-primary" type="button">Check</button>
                  </div>
                </form>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-start lower-start">
      <div class="container py-14 pt-md-17 pb-md-15">
        <div class="row gx-md-8 gx-xl-12 gy-10 mb-14 mb-md-18 align-items-center">
          <h2 class="fs-16 text-uppercase text-muted mb-3">Unsere Strategie</h2>
          <div class="col-lg-6 order-lg-2">
            <div class="card shadow-lg me-lg-6">
              <div class="card-body p-6">
    
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">01</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">Analyse Ihres Unternehmen</h4>
                    <p class="mb-0">In einem ersten <a href="/contact.html" >GRATIS</a> Gespräch evaluieren wir unverbindlich wie KI ihrem Unternehmen helfen kann.</p>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg ms-lg-13 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">02</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">Gratis ausprobieren</h4>
                    <p class="mb-0">Wir zeigen Ihnen, wie Sie unsere Anwendungen in Ihrem Unternehmen einsetzen können - Gratis ausprobieren, persönliche Beratung inklusive.</p>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg mx-lg-6 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none me-4"><span class="number">03</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">DSGVO-konformer Vertrag</h4>
                    <p class="mb-0">Da unser Unternehmen in Deutschland in der EU ansässig ist, können wir Ihnen alle erforderlichen Unterlagen zur Verfügung stellen, um die DSGVO- und sogar die HIPAA-Vorschriften zu erfüllen.</p>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Unser Vorteil</h2>
            <h3 class="display-4 mb-5">Datenschutz und Sicherheit in Deutschland</h3>
            <p>Deutsche und in der EU ansässige Unternehmen müssen sich an die strengen GDPR- und Datenschutzbestimmungen halten. Mit unseren in Deutschland gehosteten Servern und dem entsprechenden Papierkram haben Sie ein Problem weniger, um das Sie sich kümmern müssen.</p>
            <!-- <p class="mb-6"></p> -->
            <!-- <a href="#" class="btn btn-primary rounded-pill mb-0">Mehr erfahren</a> -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 mb-xl-24 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="/assets/img/illustrations/i6.png" srcset="/assets/img/illustrations/i6@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Warum wir?</h2>
            <h3 class="display-4 mb-7">Wir bieten Lösungen, die unseren Kunden das Leben leichter machen.</h3>
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingOne">
                  <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Time & Cost Savings</button>
                </div>
                <!--/.card-header -->
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Wir wissen, dass Zeit und Kosten zwei der wichtigsten Faktoren für jedes Unternehmen sind. Deshalb freuen wir uns, Ihnen unsere KI-gestützten Produkte vorstellen zu können, mit denen Sie beides sparen können.</p>
                    <p>Unsere Produkte BriefMeet, BrainSync, DocuBot und HashtagHero zielen alle darauf ab, Arbeitsabläufe zu rationalisieren, die Produktivität zu verbessern und Ihnen letztendlich wertvolle Zeit und Geld zu sparen. Durch die Nutzung von KI automatisieren unsere Produkte zeitaufwändige Aufgaben, wie z. B. das Erstellen von Notizen für Meetings, Dokumentationen und Inhalte für soziale Medien. So kann sich Ihr Team auf die kreativen, strategischen und umsatzsteigernden Aspekte Ihres Unternehmens konzentrieren.</p>
                    <p>Darüber hinaus sind unsere Produkte anpassbar, um die spezifischen Anforderungen Ihres Unternehmens zu erfüllen. Ganz gleich, ob Sie Zusammenfassungen für Führungskräfte erstellen, lange Dokumentationen verfassen oder Ihre Social-Media-Inhalte optimieren möchten, unsere KI-gestützten Tools helfen Ihnen, Ihre Ziele schnell und effizient zu erreichen.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingTwo">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Ideenfindung</button>
                </div>
                <!--/.card-header -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Als Unternehmensleiter wissen Sie, dass die Suche nach neuen Marketing- oder Produktideen entscheidend ist, um der Konkurrenz einen Schritt voraus zu sein. Es kann jedoch eine Herausforderung sein, frische und innovative Ideen zu entwickeln, wenn die Mitarbeiter oft in ihren eigenen Denkmustern feststecken.</p>
                    <p>Unsere Reihe von KI-gesteuerten Produkten, darunter DocuBot und HashtagHero, kann Ihrem Team helfen, über den Tellerrand zu schauen und neue Ideen zu entwickeln, die das Wachstum und den Erfolg Ihres Unternehmens fördern.</p>
                    <p>DocuBot ist ein KI-gesteuerter Chatbot, der die Dokumentation vereinfacht, Marketingkampagnen auf die Unternehmenswerte abstimmt und die abteilungsübergreifende Kommunikation erleichtert. Durch die Zentralisierung Ihrer Dokumentation an einem Ort hilft DocuBot Ihrem Team, Informationen schnell und einfach zu finden. So bleibt Ihrem Team mehr Zeit für neue Ideen und Konzepte, für die es vorher vielleicht keine Zeit hatte.</p>
                    <p>HashtagHero ist ein sofortiges Brainstorming-Tool, das Ihnen hilft, Inhalte für soziale Medien zu erstellen, die Ihre Follower lieben. HashtagHero generiert eine Vielzahl von Content-Ideen und ermöglicht es Ihnen, den Ton, die Emotionen und die Hashtags für jeden Beitrag anzupassen. So hilft HashtagHero Ihrem Team, kreativ zu denken und einzigartige Inhalte zu entwickeln, die in einem überfüllten Online-Raum herausragen.</p>
                    <p>Durch den Einsatz unserer KI-gestützten Produkte können Sie Ihrem Team die Werkzeuge an die Hand geben, die es braucht, um über den Tellerrand zu schauen und neue Ideen zu entwickeln, die das Wachstum und den Erfolg Ihres Unternehmens fördern. Geben Sie sich nicht mit mittelmäßigen Marketing- oder Produktideen zufrieden - lassen Sie sich von unseren KI-Tools dabei helfen, neue Höhen der Kreativität und Innovation zu erreichen.</p>>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Niemals etwas vergessen</button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>Als Geschäftsmann wissen Sie, wie leicht es ist, wichtige Informationen zu vergessen, wenn Sie viel zu tun haben. Deshalb freuen wir uns, Ihnen unsere KI-gesteuerten Produkte BriefMeet und BrainSync vorstellen zu können, die als Ihre persönliche Sekretärin fungieren und sich mehr merken können, als ein menschliches Gehirn es könnte.</p>
                    <p>Mit BriefMeet verwandelt unser KI-gestütztes Tool Besprechungsprotokolle in prägnante Zusammenfassungen und umsetzbare Aufgaben, so dass Sie wichtige Informationen, die in Besprechungen besprochen wurden, leicht im Blick behalten können. Mit BrainSync vereinfacht unser KI-gestütztes Tool die Erstellung von Notizen und Dokumentationen und hilft Ihnen, Ihre Gedanken zu ordnen und sich an wichtige Details aus vergangenen Meetings und Projekten zu erinnern.</p>
                    <p>Durch die Nutzung der KI helfen unsere Tools Ihnen, den Überblick über Ihr Arbeitspensum zu behalten und sicherzustellen, dass nichts vergessen wird. Dies kann die Produktivität steigern, Fehler minimieren und letztlich den Erfolg Ihres Unternehmens fördern.</p>
                    <p>Außerdem sind unsere KI-gestützten Produkte anpassbar, um die spezifischen Anforderungen Ihres Unternehmens zu erfüllen. Ganz gleich, ob Sie sich an Details aus einem Projekt oder einer Besprechung erinnern müssen oder einfach Ihre allgemeine Organisation und Produktivität verbessern möchten, unsere Tools können Ihnen dabei helfen.</p> 
                    <p>Lassen Sie nicht zu, dass Ihnen wichtige Informationen durch die Lappen gehen. Lassen Sie unsere KI-gesteuerten Tools als Ihre persönliche Sekretärin agieren, die sich mehr merken kann als ein menschliches Gehirn und Ihnen hilft, den Überblick über Ihr Arbeitspensum zu behalten. Testen Sie BriefMeet und BrainSync noch heute und steigern Sie Ihre Produktivität auf ein neues Niveau.</p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-primary">
      <div class="container py-14 pt-md-16 pb-md-18">
        <div class="position-relative mt-8 mt-lg-n23 mt-xl-n25">
          <div class="row text-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto">
              <h2 class="fs-16 text-uppercase text-muted mb-3">Our Team</h2>
              <h3 class="display-4 mb-10 px-md-13 px-lg-4 px-xl-0">Denken Sie einzigartig und seien Sie innovativ. Machen Sie einen Unterschied mit FirmenAI.</h3>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="position-relative">
            <div class="shape bg-dot blue rellax w-16 h-17" data-rellax-speed="1" style="bottom: 0.5rem; right: -1.7rem; z-index: 0;"></div>
            <div class="shape rounded-circle bg-line red rellax w-16 h-16" data-rellax-speed="1" style="top: 0.5rem; left: -1.7rem; z-index: 0;"></div>
            <div class="row grid-view gy-6 gy-xl-0">
              <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <img class="rounded-circle w-15 mb-4" src="/assets/img/avatars/te1.jpg" srcset="/assets/img/avatars/te1@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Justin Güse</h4>
                    <div class="meta mb-2">CEO/Data Engineer</div>
                    <p class="mb-2">CEO of DataFortress.cloud, AI, Cloud, Data</p>
                    <nav class="nav social mb-0">
                      <!-- <a href="#"><i class="uil uil-twitter"></i></a> -->
                      <!-- <a href="#"><i class="uil uil-facebook-f"></i></a> -->
                      <a href="https://www.linkedin.com/in/justin-guese/"><i class="uil uil-linkedin"></i></a>
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <img class="rounded-circle w-15 mb-4" src="/assets/img/avatars/te2.jpg" srcset="/assets/img/avatars/te2@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Cory Zamora</h4>
                    <div class="meta mb-2">AI Specialist</div>
                    <p class="mb-2">AI engineer, Marketing specialist</p>
                    <nav class="nav social mb-0">
                      <!-- <a href="#"><i class="uil uil-twitter"></i></a>
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                      <a href="#"><i class="uil uil-dribbble"></i></a> -->
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 col-xl-3">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <img class="rounded-circle w-15 mb-4" src="/assets/img/avatars/te3.jpg" srcset="/assets/img/avatars/te3@2x.jpg 2x" alt="" />
                    <h4 class="mb-1">Nikolas Brooten</h4>
                    <div class="meta mb-2">Sales Manager</div>
                    <p class="mb-2">Technology focused sales</p>
                    <nav class="nav social mb-0">
                      <!-- <a href="#"><i class="uil uil-twitter"></i></a>
                      <a href="#"><i class="uil uil-facebook-f"></i></a>
                      <a href="#"><i class="uil uil-dribbble"></i></a> -->
                    </nav>
                    <!-- /.social -->
                  </div>
                  <!--/.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!--/column -->

              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /.position-relative -->
        </div>
        <!-- /div -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="w-auto" src="/assets/img/illustrations/i8.png" srcset="/assets/img/illustrations/i8@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Our Solutions</h2>
            <h3 class="display-4 mb-5">AI is the next big thing</h3>
            <p class="mb-6">Artificial Intelligence (AI) is no longer just a futuristic concept – it is becoming increasingly important for businesses in today's digital world. The ability to analyze large amounts of data quickly and accurately, and automate time-consuming tasks, can give your business the edge it needs to succeed.</p>
            <p class="mb-6">In fact, if you're not investing in AI-powered tools and solutions, you could be putting your business at risk of falling behind the competition. With the pace of technological advancement, businesses that fail to embrace AI will likely be left in the dust.</p>
            <p class="mb-6">Don't let this happen to your business. Embrace the power of AI today and future-proof your business for success. With AI-powered tools, you can make better decisions, increase efficiency, and free up your employees to focus on more creative and strategic aspects of the business. The future of your business depends on it – invest in AI today and stay ahead of the curve.</p>
            <div class="row gy-3">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span><strong>Efficiency and productivity gains</strong>: AI can handle tasks at a pace and scale that humans can’t match. This allows organizations to minimize the costs associated with performing mundane, repeatable tasks that can be performed by technology while maximizing the talent of their human capital</span> [1]</li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span><strong>Improved speed of business</strong>: AI enables shorter development cycles and cuts the time it takes to move from design to commercialization, delivering better and more immediate ROI on development dollars.</span> [1]</li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span><strong>New capabilities and business model expansion</strong>: AI can help businesses move beyond automation to elevate human capabilities that unlock new value</span> [2]</li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span><strong>AI coupled with technology</strong> is growing to new levels every year. Many businesses rely on it to increase efficiency, improve their products, or scale and gain an edge over their competitors. AI is one of the fastest-growing trends in tech that can help companies expand their operations or create a whole new industry</span> [3]</li>
                </ul>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
          <small>1: <a target="_blank" href="https://www.techtarget.com/searchenterpriseai/feature/6-key-benefits-of-AI-for-business">7 key benefits of AI for business - SearchEnterpriseAI </a>
            2: <a target="_blank" href="https://hbr.org/2018/08/new-supply-chain-jobs-are-emerging-as-ai-takes-hold">New Supply Chain Jobs Are Emerging as AI Takes Hold</a>
            3: <a target="_blank" href="https://techevaluate.com/why-is-ai-so-expensive-for-business/">Why Is AI So Expensive For Business? – Tech Evaluate</a></small>
          </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-reverse-primary">
      <div class="container py-14 py-md-18">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7">
            <div class="row gx-md-5 gy-5">
              <div class="col-md-6 col-xl-5 align-self-end">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <blockquote class="icon mb-0">
                      <p>“Since we started using BriefMeet, our meetings have become more efficient and productive. Instead of spending hours taking notes and trying to decipher what was said, we now have concise summaries and actionable to-dos at our fingertips. This has helped us to stay on track and achieve our goals more quickly. I highly recommend BriefMeet to any business looking to streamline their meeting process.”</p>
                      <div class="blockquote-details">
                        <div class="info p-0">
                          <h5 class="mb-1">Coriss</h5>
                          <p class="mb-0">BriefMeet user, Financial Analyst</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 align-self-end">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <blockquote class="icon mb-0">
                      <p>“BrainSync has been a game-changer for our business. As a team that's always juggling multiple projects, it can be difficult to keep track of all the details. BrainSync has made it easy to organize our notes and generate long-form documentation with just a few clicks. The AI-powered tool even remembers details from past projects, which has saved us a lot of time and effort. Our productivity has skyrocketed since we started using BrainSync.”</p>
                      <div class="blockquote-details">
                        <div class="info p-0">
                          <h5 class="mb-1">Steph</h5>
                          <p class="mb-0">BrainSync user, Marketing Specialist</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 col-xl-5 offset-xl-1">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <blockquote class="icon mb-0">
                      <p>“DocuBot has transformed the way we approach documentation. Instead of spending hours writing and organizing documentation, we can now rely on our AI-powered chatbot to provide instant answers to our questions. It has also helped us to align our marketing campaigns with our company values, and facilitated cross-department communication. I can't imagine going back to the way we used to do things.”</p>
                      <div class="blockquote-details">
                        <div class="info p-0">
                          <h5 class="mb-1">Murat Czabi</h5>
                          <p class="mb-0">DocuBot user, CTO</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              <div class="col-md-6 align-self-start">
                <div class="card shadow-lg">
                  <div class="card-body">
                    <blockquote class="icon mb-0">
                      <p>“Social media used to be a pain point for us, as we struggled to come up with content ideas and optimize our hashtags. HashtagHero has changed all that. With the AI-powered tool, we can generate a variety of content ideas, tailor our tone and emotion, optimize our hashtags, and even create stunning visuals. Our social media game has never been stronger.”</p>
                      <div class="blockquote-details">
                        <div class="info p-0">
                          <h5 class="mb-1">Jackie</h5>
                          <p class="mb-0">HashtagHero user, Social Media Manager</p>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
          <!-- <div class="col-lg-5">
            <h2 class="fs-16 text-uppercase text-muted mb-3 mt-lg-n6">Our Community</h2>
            <h3 class="display-4 mb-5">Don't take our word for it. See what customers are saying about us.</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod.</p>
            <a href="#" class="btn btn-primary rounded-pill mt-3">All Testimonials</a>
          </div> -->
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-end lower-end">
      <div class="container py-14 pt-md-14 pb-md-18">
        <div class="row gy-6 mb-14 mb-md-18">
          <div class="col-lg-4">
            <h2 class="fs-16 text-uppercase text-muted mt-lg-18 mb-3">Our Pricing</h2>
            <h3 class="display-4 mb-3">We offer great and premium prices.</h3>
            <p>Enjoy a <a href="https://firmenai.fief.dev/register" class="hover">free 4-day trial</a> and experience the full service. No credit card required!</p>
            <a href="https://firmenai.fief.dev/register" class="btn btn-primary rounded-pill mt-2">Gratis ausprobieren</a>
          </div>
          <!--/column -->
          <div class="col-lg-7 offset-lg-1 pricing-wrapper">
            <div class="pricing-switcher-wrapper switcher justify-content-start justify-content-lg-end">
              <p class="mb-0 pe-3">Monthly</p>
              <div class="pricing-switchers">
                <div class="pricing-switcher pricing-switcher-active"></div>
                <div class="pricing-switcher"></div>
                <div class="switcher-button bg-primary"></div>
              </div>
              <p class="mb-0 ps-3">Yearly <span class="text-red">(Save 40%)</span></p>
            </div>
            <div class="row gy-6 position-relative mt-5">
              <div class="shape bg-dot red rellax w-16 h-18" data-rellax-speed="1" style="bottom: -0.5rem; right: -1.6rem;"></div>
              <div class="col-md-6">
                <div class="pricing card shadow-lg">
                  <div class="card-body pb-12">
                    <div class="prices text-dark">
                      <div class="price price-show justify-content-start"><span class="price-currency">$</span><span class="price-value">29</span> <span class="price-duration">mo</span></div>
                      <div class="price price-hide price-hidden justify-content-start"><span class="price-currency">$</span><span class="price-value">299</span> <span class="price-duration">yr</span></div>
                    </div>
                    <!--/.prices -->
                    <h4 class="card-title mt-2">Single Service Plan</h4>
                    <ul class="icon-list bullet-primary mt-7 mb-8">
                      <li><i class="uil uil-check fs-21"></i><span><strong>1</strong> Service </span></li>
                      <li><i class="uil uil-check fs-21"></i><span><strong>1</strong> User </span></li>
                      <!-- <li><i class="uil uil-check fs-21"></i><span><strong>9-5</strong> Support </span></li> -->
                      <li><i class="uil uil-check fs-21"></i><span><strong>2h</strong> free onboarding</span></li>                    </ul>
                    <a href="https://buy.stripe.com/3csdUq5SRceU00w001" class="btn btn-primary rounded-pill">Choose Plan</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.pricing -->
              </div>
              <!--/column -->
              <div class="col-md-6 popular">
                <div class="pricing card shadow-lg">
                  <div class="card-body pb-12">
                    <div class="prices text-dark">
                      <div class="price price-show justify-content-start"><span class="price-currency">$</span><span class="price-value">299</span> <span class="price-duration">mo</span></div>
                      <div class="price price-hide price-hidden justify-content-start"><span class="price-currency">$</span><span class="price-value">2,125</span> <span class="price-duration">yr</span></div>
                    </div>
                    <!--/.prices -->
                    <h4 class="card-title mt-2">All Service Plan</h4>
                    <ul class="icon-list bullet-primary mt-7 mb-8">
                      <li><i class="uil uil-check fs-21"></i><span><strong>All</strong> services </span></li>
                      <li><i class="uil uil-check fs-21"></i><span><strong>1</strong> User </span></li>
                      <li><i class="uil uil-check fs-21"></i><span><strong>10h</strong> free onboarding </span></li>
                    </ul>
                    <a href="https://buy.stripe.com/eVa3fM5SRceUdRm4gg" class="btn btn-primary rounded-pill">Choose Plan</a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.pricing -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-10 mb-md-14 align-items-center">
          <div class="col-lg-7">
            <figure><img class="w-auto" src="/assets/img/illustrations/i5.png" srcset="/assets/img/illustrations/i5@2x.png 2x" alt="" /></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-16 text-uppercase text-muted mb-3">Let’s Talk</h2>
            <h3 class="display-4 mb-3">Let's build something great together.</h3>
            <p>Let's build something great together with the power of AI. Our suite of AI-powered tools and solutions can help take your business to the next level. From streamlining meeting notes to generating social media content, our tools have been designed to help you work smarter, not harder. And with our expert AI support, you can trust that you're in good hands. Ready to see how AI can transform your business? Click below to sign up for a free AI evaluation and take the first step towards building something great together.</p>
            <a href="#" class="btn btn-primary rounded-pill mt-2">Free AI evaluation</a>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
        <div class="px-lg-5">
          <div class="row gx-0 gx-md-8 gx-xl-12 gy-8 align-items-center">
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c1.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c2.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c3.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c4.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c5.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-4 col-md-2">
              <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="/assets/img/brands/c6.png" alt="" /></figure>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /div -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}